[run]
branch = True
source =
    src
    tests
omit=
    **/__main__.py

[report]
# Exclude AssertionError because we use it to mean "this cannot happen".
exclude_lines =
    AssertionError
    pragma: nocover
